## Heatmap for Weather Parameters

In [38]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [39]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-28 18:49:53,-23.1203,-134.9692,77.86,72,17,6.93
1,1,Barrow,US,2022-03-28 18:50:28,71.2906,-156.7887,-2.18,71,0,19.57
2,2,Iacu,BR,2022-03-28 18:54:26,-12.7672,-40.2117,86.76,48,100,11.65
3,3,Guinticgan,PH,2022-03-28 18:54:26,11.5641,123.1236,81.05,81,100,15.97
4,4,Punta Arenas,CL,2022-03-28 18:52:24,-53.1500,-70.9167,48.22,81,100,6.91

In [3]:
# mapping data must be integer or float | check
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [40]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature that are above 0 for gmap weights
# alternative to list comprehension - used as an example | don't use going forward
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# restricting to one map of Earth & specifying geographic center:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# adjusting dissipation, max intensity, and point radius:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Vacation Criteria

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
temp_min = float(input("What is the minimum temperature you would like for your trip? "))
temp_max = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [33]:
# Filter the dataset to find the cities that fit the criteria.
prefer_cities_possNA_df = city_data_df.loc[(city_data_df["Max Temp"] <= temp_max) & 
                                       (city_data_df["Max Temp"] >= temp_min)]
preferred_cities_df = prefer_cities_possNA_df.dropna()
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-28 18:49:53,-23.1203,-134.9692,77.86,72,17,6.93
3,3,Guinticgan,PH,2022-03-28 18:54:26,11.5641,123.1236,81.05,81,100,15.97
7,7,Hilo,US,2022-03-28 18:54:27,19.7297,-155.0900,76.62,76,62,5.99
8,8,Kirakira,SB,2022-03-28 18:54:27,-10.4544,161.9205,79.77,86,99,4.83
16,16,Carnarvon,AU,2022-03-28 18:54:30,-24.8667,113.6333,73.47,88,75,21.85

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
0      Rikitea      PF     77.86 -23.1203 -134.9692
3   Guinticgan      PH     81.05  11.5641  123.1236
7         Hilo      US     76.62  19.7297 -155.0900
8     Kirakira      SB     79.77 -10.4544  161.9205
16   Carnarvon      AU     73.47 -24.8667  113.6333

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [43]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.86,-23.1203,-134.9692,People ThankYou
3,Guinticgan,PH,81.05,11.5641,123.1236,Jeanette Resort Carles Iloilo B&B
7,Hilo,US,76.62,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Kirakira,SB,79.77,-10.4544,161.9205,SanBiz Lodge
16,Carnarvon,AU,73.47,-24.8667,113.6333,Hospitality Carnarvon

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

# add pop-up marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# map figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))